# local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .ppk keys
*.ppk

# lambda layer files

pylibs-layer.zip
tesseract-layer.zip

src/allert-react-native/coverage/**/*
